.bg-black {
    background-color: black;
    color: white;
}
.display-6 {
  font-weight: 300;
  line-height: 1.2;
  font-size: calc(0.8rem + 1.0vw);
}
.text-roxo{
    color:#a83da8
}
    .list-group-item-action:hover, .list-group-item-dark:hover {
        background-color: rgb(43, 42, 42); /* Example: slightly darker background for actionable items */
        color:white;
    }